<h4>Cześć <%= @reserver.email %>!</h4>
<div>
  <p>Książka: <%= link_to @book.title, book_url(@book.id) %>, która Cię interesuje wkrótce będzie dostępna :)</p>
  <p>Życzymy udanej lektury :)</p>
</div>
